@import "../../styles/colors";
.container{
    margin-top: 3%;
    width: 274px;
    height: 371px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .2);
    text-align: center;
    align-content: center;
}

.text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50%;
    align-items: center;
}
.textBalance{
    margin-left: 3%;
    margin-bottom: 4%;
    font-weight: bold;
    display: flex;

}
.price{
    margin-left: 10px;
    display: flex;
}
.change{
    opacity: 40%;
}

.cardButton{
    height: 40px;
    width: 226px;
    color: white;
    margin-top: 27%;
    background: $lightGreen;
    border-radius: 7px;
}
img{
    height: 16px;
    width: 16px;
}

.icon{
    margin-top: 5px;
    margin-right: 4px;
}