.card{
    font-size: 20px;
}
.price{
    margin-top: 12px;
    display: flex;
}
.bold{
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
}
.bold1{
    margin-top: 2px;
    font-weight: bold;
}
.productPic{
    margin-top: 25px;
    width: 270px;
    height: 270px;
}
.priceLogo{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
.grey{
    opacity: 50%;
}
