.card{
    font-size: 20px;
}
.price{
    margin-top: 5%;
    display: flex;
}
.bold{
    margin-bottom: 3%;
    margin-top: 5%;
    font-weight: bold;
}
.bold1{
    margin-top: 2%;
    font-weight: bold;
}
.productPic{
    margin-top: 10%;
    width: 270px;
    height: 270px;
}
.priceLogo{
    height: 24px;
    width: 24px;
    margin-right: 2%;
}
.grey{
    opacity: 50%;
}
