@import "../styles/colors"
.button
  margin: 0
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  border-radius: 8px
  padding-top: 16px
  padding-bottom: 16px
  width: 100%

.buttonGreen16
  background: $lightGreen
  color: white
  font-size: 16px

.buttonGreen14
  background: $lightGreen
  color: white
  font-size: 14px

.buttonGray16
  background: rgba(62, 80, 114, 0.08)
  color: $lightGray
  font-size: 16px

.buttonGray14
  background: rgba(62, 80, 114, 0.08)
  color: $lightGray
  font-size: 14px