.footer{
    margin-top: 7%;
}
.info{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.post{
    gap: 5%;
    margin: 1%;
    display: flex;
}

.number{

    margin: 1%;
    display: flex;
}