@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


body {
    font-size: 16px;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
    font-family: Inter;
    background: none;
    border: none;
}
p{
    font-size: 16px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
    line-height: 24px;
}
p{
    font-size: 14px;
}

input{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 11, 38, 0.16);
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}

